Options -Indexes
RewriteEngine On

RewriteBase /


RewriteRule ^(tmp)\/|\.ini$ - [R=404]

RewriteCond %{REQUEST_URI} /framework/data/*.
RewriteRule .* index.php [L,QSA]

RewriteCond %{REQUEST_URI} /tmp/*.
RewriteRule .* index.php [L,QSA]

RewriteCond %{REQUEST_URI} \.html?$
RewriteRule \.html?$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
