@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

*, body, p, h1,h2,h3,h4,h5,h6,input,textarea,select {
    font-family: 'Open Sans', sans-serif;
}

body {
  /*padding-top: 80px;*/
    background-color: #ddd;
}

.navbar {
    margin-bottom: 0;
    background: #000000;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#hero {
    background: url("../images/diagmonds.png") 0 0 repeat;
    color: #fff;
}

#main {
    background-color: #fff;
    padding-top: 20px;
}

.container {
    max-width: 860px;
}

.post-entry {
    margin-bottom: 30px;
    /*background: #eee;*/
    padding: 0 20px 30px 20px;
    border-bottom: 2px solid #dedede;
}

    .post-entry .meta {
        margin-right: 10px;
    }

    .post-entry h2 {
            margin-top: 10px;
        font-size: 22px;
        }
    .post-entry hr {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .teaser-text {
        font-size: 1.4em;
        padding-bottom: 30px;
    }

    .post-entry figure {
        margin-bottom: 10px;
    }

    .post-entry figure img {
        margin-right: 10px;
    }

.stats {
    font-size: 12px;
    color: #848385;
}

.error-trace {
    background: #191b1d;
}
.error-trace code {
    background-color: transparent;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.bodytext ol,
.bodytext ul {
    position: relative;
    overflow: hidden;
}
