
  <div class="alert alert-danger"><h4>{{ @POST.hosttag |esc}} (Retrieved: {{@POST.dateattacked |esc}})  </h4></div><br/><br/>
  <p class="alert alert-info">You have successfully added a hooking script on this URL on this link: <a href="{{ @POST.vulnerableUrl |esc }}" target="_blank">{{ @POST.vulnerableUrl |esc }}</a><br/><br/>
 	<blockquote><p class="text-capitalize"><em>The cookies collected from the XSS attack are as below: <br/><br/>{{ @POST.cookiemonster }}</em></p></blockquote>

     <p><code><strong> Links to download the pages with content: to access are as below:</strong></code></p>
     
     <div class="alert alert-info">The hooked page i.e. content of the page where you added your attacking script can be found  <a href="{{ @POST.vulnerablePageContent |esc }}" target="_blank">here</a><br/><br/>
	 Additionally the content of the page you needed to test for access based on the cookies stolen can be found: <a href="{{ @POST.indirect_target_page |esc }}" target="_blank">here</a><br/><br/> Once you download the content pages rename them to .html to view the content through a browser.
	 </div>
      <div class="alert alert-info">The page that lead you to the vulnerable page is:  <a href="{{ @POST.referer |esc }}" target="_blank">{{ @POST.referer |esc }}</a>
	 </div>
   
    
    <a href="{{ @BASE.'/cnc/ctdb' }}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Back to Cookie Theft List</a>
  