<check if="{{ isset(@PARAMS.id) }}">
    <true>
        <h2>Edit Cookie Jar</h2>
    </true>
    <false>
        
    </false>
</check>

<div class="row solid">
    <div class="col-lg-12">
        <form action="cnc/ctdb/{{(isset(@PARAMS.id))?'edit/'.@PARAMS.id:'create'}}" method="post" class="form-horizontal" role="form">

            <div class="form-group {{ @FLASH->getKey('error.model.ctdb.hosttag') }}">
                <label for="input-hosttag" class="col-lg-2 control-label">Host Tag</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.hosttag) }}">
				    <true>
				        <input type="text" name="hosttag" class="form-control" id="input-hosttag" value="{{@POST.hosttag | esc}}" />
				    </true>
				    <false>
				        <p>No Host Tag Specified</p>
				    </false>
				</check>
                </div>
            </div>
			<div class="form-group {{ @FLASH->getKey('error.model.ctdb.vulnerableUrl') }}">
                <label for="input-vulnerableUrl" class="col-lg-2 control-label">Hooked Url</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.vulnerableUrl) }}">
				    <true>
				        <input type="text" name="vulnerableUrl" class="form-control" id="input-vulnerableUrl" value="{{@POST.vulnerableUrl | esc}}" />
				    </true>
				    <false>
				        <p>No Hooked URL Specified</p>
				    </false>
				</check>
                </div>
            </div>
			<div class="form-group {{ @FLASH->getKey('error.model.ctdb.referer') }}">
                <label for="input-referer" class="col-lg-2 control-label">Referer</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.referer) }}">
				    <true>
				        <input type="text" name="referer" class="form-control" id="input-referer" value="{{@POST.referer | esc}}" />
				    </true>
				    <false>
				        <p>No Referer Specified</p>
				    </false>
				</check>
                </div>
            </div>
			
			<div class="form-group {{ @FLASH->getKey('error.model.ctdb.cookiemonster') }}">
                <label for="input-cookiemonster" class="col-lg-2 control-label">Cookie jar</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.cookiemonster) }}">
				    <true>
				        <input type="text" name="cookiemonster" class="form-control" id="input-cookiemonster" value="{{@POST.cookiemonster | esc}}" />
				    </true>
				    <false>
				        <p>No Cookies Included, This could be because they were http only and couldn't be stolen</p>
				    </false>
				</check>
                </div>
            </div>
				<div class="form-group {{ @FLASH->getKey('error.model.ctdb.vulnerablePageContent') }}">
                <label for="input-vulnerablePageContent" class="col-lg-2 control-label">Hooked Page Content</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.vulnerablePageContent) }}">
				    <true>
				        <input type="text" name="vulnerablePageContent" class="form-control" id="input-vulnerablePageContent" value="{{@POST.vulnerablePageContent | esc}}" />
				    </true>
				    <false>
				        <p>No Link to the content of the hooked page found</p>
				    </false>
				</check>
                </div>
            </div>
				<div class="form-group {{ @FLASH->getKey('error.model.ctdb.indirect_target_page') }}">
                <label for="input-indirect_target_page" class="col-lg-2 control-label">Target Page Content</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.indirect_target_page) }}">
				    <true>
				        <input type="text" name="indirect_target_page" class="form-control" id="input-indirect_target_page" value="{{@POST.indirect_target_page | esc}}" />
				    </true>
				    <false>
				        <p>No Link to the content of the targeted page found</p>
				    </false>
				</check>
                </div>
            </div>
				<div class="form-group {{ @FLASH->getKey('error.model.ctdb.dateattacked') }}">
                <label for="input-dateattacked" class="col-lg-2 control-label">Attack Date</label>
                <div class="col-sm-3">
                  <check if="{{ isset(@POST.dateattacked) }}">
				    <true>
				        <input type="text" name="dateattacked" class="form-control" id="input-dateattacked" value="{{@POST.dateattacked | esc}}" />
				    </true>
				    <false>
				        <p>No Attack Date Specified</p>
				    </false>
				</check>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>