<div class="col-sm-4 col-md-3 col-lg-2">
    <div class="list-group">
        <a href="cnc/lfi/koha_lfi" class="list-group-item{{(@PARAMS.0=='/cnc/lfi/koha_lfi'||@PARAMS.0=='/cnc/lfi'?' active':'') }}">
            Koha LFI
        </a>
        <a href="cnc/lfi/wordpress_lfi" class="list-group-item{{(@PARAMS.0=='cnc/lfi/wordpress_lfi'||@PARAMS.0=='/cnc/lfi/wordpress_lfi'?' active':'') }}">
            WP-Ebook LFI
        </a>
        <a href="cnc/lfi/zimbra_lfi" class="list-group-item{{(@PARAMS.0=='cnc/lfi/wordpress_lfi'||@PARAMS.0=='/cnc/lfi/zimbra_lfi'?' active':'') }}">
            Zimbra LFI
        </a>
     
    </div>
    
</div>

 

<div class="col-sm-8 col-md-9 col-lg-10">

    <include href="templates/alert.html"/>

    <include if="{{isset(@SUBPART)}}" href="{{'templates/'.@SUBPART}}"/>

</div>