<check if="{{ isset(@PARAMS.id) }}">
    <true>
        <h2>Edit LFI Plugin</h2>
    </true>
    <false>
        <h2>New LFI Plugin</h2>
    </false>
</check>
<script>
    window.onload = function(){
        CKEDITOR.replace( 'lDescription',
                {
                    toolbar : 'Basic',
                    uiColor : '#9AB8F3',
                    width : '600px'

    });
    };

</script>
<div class="row solid">
    <div class="col-lg-12">
        <form action="cnc/larfi/{{(isset(@PARAMS.id))?'edit/'.@PARAMS.id:'create'}}" method="post" class="form-horizontal" role="form">

            <div class="form-group {{ @FLASH->getKey('error.model.larfi.lTitle') }}">
                <label for="input-lTtitle" class="col-lg-2 control-label">LFI Title*</label>
                <div class="col-sm-3">
                    <input type="text" name="lTitle" class="form-control" id="input-lTitle" placeholder="unique name e.g. KOHA LFI" required  value="{{isset(@POST.lTitle)?@POST.lTitle:'' |esc}}"/>
                </div>
            </div>
			 <div class="form-group {{ @FLASH->getKey('error.model.larfi.lType') }}">
                <label for="input-lTtitle" class="col-lg-2 control-label">LFI Type*</label>
                <div class="col-sm-3">
				<check if="{{ isset(@POST.lType) }}">
				    <true>
						 <select class="form-control" id="input-lType" name="lType">
							<option selected="{{@POST.lType|esc}}">{{@POST.lType|esc}}</option>
							<option id="cookie" value="Cookie Based">Cookie Based </option>
							<option id="generic" value="Generic">Generic</option>
					</select>
				    </true>
				    <false>
				       <select class="form-control" id="input-lType" name="lType">
							<option id="cookie" value="Cookie Based">Cookie Based</option>
							<option id="generic" value="Generic">Generic</option>
					</select>
				    </false>
				</check>
                </div>
            </div>
			<div class="form-group {{ @FLASH->getKey('error.model.larfi.lMethod') }}">
                <label for="input-lTtitle" class="col-lg-2 control-label">Retrieval Method*</label>
                <div class="col-sm-3">
				<check if="{{ isset(@POST.lMethod) }}">
				    <true>
						<select class="form-control" id="input-lMethod" name="lMethod">
							<option selected="{{@POST.lMethod|esc}}">{{@POST.lMethod|esc}}</option>	
							<option id="cookie" value="GET">GET</option>
							<option id="generic" value="POST">POST</option>
					</select>
				    </true>
				    <false>
				       <select class="form-control" id="input-lMethod" name="lMethod">
							<option id="cookie" value="GET">GET</option>
							<option id="generic" value="POST">POST</option>
					</select>
				    </false>
				</check>
                </div>
            </div>
             <div class="form-group {{ @FLASH->getKey('error.model.larfi.lPayload') }}">
                <label for="input-lTtitle" class="col-lg-2 control-label">LFI Payload*</label>
                <div class="col-sm-3">
                    <input type="text" name="lPayload" class="form-control" id="input-lPayload" placeholder="unique name e.g. KOHA LFI" required  value="{{isset(@POST.lPayload)?@POST.lPayload:'' |esc}}"/>
                </div>
            </div>
             <div class="form-group {{ @FLASH->getKey('error.model.payload.lDescription') }}">
                <label for="input-lDescription" class="col-lg-2 control-label">Description*</label>
                <div class="col-sm-3">
                <check if="{{ isset(@POST.lDescription) }}">
				    <true>
				        <textarea rows="4" cols="50" id="lDescription" name="lDescription">{{@POST.lDescription}}</textarea>
				    </true>
				    <false>
				       <textarea rows="4" cols="50" id="lDescription" name="lDescription"></textarea>
				    </false>
				</check>
                    
                </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>