<h2>LFI: {{ @POST.lTitle }}</h2><br/>
<div><button type="button" class="btn btn-success btn-lg" data-toggle="tooltip" title="{{@POST.lDescription}}" data-html="true">About This Vulnerability</button></div>
<br/>
<div class="box-body">
        <form id="form" action="cnc/larfi/view/{{@PARAMS.id}}" method="post" role="form">
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Web Address</label>
                    <input type="text" name="url" class="form-control" placeholder="http://africahackon.com" />
					<input type="hidden" id="lPayload" name="lPayload" value="{{ @POST.lPayload }}" class="form-control"/><br/>
					<input type="hidden" id="lMethod" name="lMethod" value="{{ @POST.lMethod }}" class="form-control"/><br/>
					<input type="hidden" id="lType" name="lType" value="{{ @POST.lType }}" class="form-control"/><br/>
                </div>
                <button type="submit" class="btn btn-primary">Perform LFI</button>
            </div>

        </form>
      
       <div class="content col-xs-8" data-wrap="true">
       <br/>
      {{highlight_string(@content,true)|raw}}
      </div>
    </div>
     