<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{@SCHEME.'://'.@HOST.@BASE.'/'}}"/>
    <meta charset="{{@ENCODING}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{@UI}}ico/favicon.png">
    <title>{{@CONFIG.framework_title}} - Backend </title>
    <link href="{{@UI}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{@UI}}css/datepicker.css" rel="stylesheet">
    <link href="{{@UI}}css/backend.css" rel="stylesheet">


    <script src="{{@UI}}editor/ckeditor.js"></script>
    <F3:check if="{{ isset(@ASSETS.CSS) }}">
    <F3:repeat group="{{ @ASSETS.CSS }}" value="{{ @path }}">
    <link href="{{@path}}" rel="stylesheet">
    </F3:repeat>
    </F3:check>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{@UI}}js/vendor/html5shiv.js"></script>
    <script src="{{@UI}}js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-brand" href="cnc/"><img src="framework/themes/default/images/mth3l3m3nt-small.png"/></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                  <li {{(is_int(strpos(@PARAMS.0,'payload'))?'class="active"':'')}}>
                    <a href="cnc/payload"><i class="glyphicon glyphicon-tint"></i> Payloads</a>
                </li>
                 <li {{(is_int(strpos(@PARAMS.0,'websaccre'))?'class="active"':'')}}>
                    <a href="cnc/websaccre"><i class="glyphicon glyphicon-cloud dropdown"></i> Web Utils</a>
                </li>
                <li {{(is_int(strpos(@PARAMS.0,'lfi'))?'class="active"':'')}}>
                    <a href="cnc/lfi"><i class="glyphicon glyphicon-file dropdown"></i> LFI Exploits</a>
                </li>
                 <li {{(is_int(strpos(@PARAMS.0,'webot'))?'class="active"':'')}}>
                    <a href="cnc/webot"><i class="glyphicon glyphicon-screenshot dropdown"></i> Web Herd</a>
                </li>
               
                <li class="pull-right"><a href="leave" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="glyphicon glyphicon-off"></i></a></li>
                
                <li class="pull-right">
                    <a href="cnc/settings" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="glyphicon glyphicon-wrench"></i></a>
                </li>
                <li class="pull-right">
                    <a href="cnc/user" data-toggle="tooltip" data-placement="bottom" title="User Management"><i class="glyphicon glyphicon-user"></i></a>
                </li>
                <li class="pull-right">
                    <a href="{{@BASE}}" data-toggle="tooltip" data-placement="bottom" title="View&nbsp;Frontend"><i class="glyphicon glyphicon-home"></i></a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="row">
        <include if="{{isset(@LAYOUT)}}" href="{{'templates/'.@LAYOUT}}"/>
    </div>

    <p class="stats">{{ \Base::instance()->format('Page rendered by Mth3l3m3nt Framework v{0}, using {1} in {2} msecs / Memory usage {3} KB',@APP_VERSION,@CONFIG->ACTIVE_DB,round(1e3*(microtime(TRUE)-$TIME),2),round(memory_get_usage(TRUE)/1e3,1)) }}</p>
</div>

<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{@UI}}js/vendor/jquery.js"></script>
<script src="{{@UI}}js/vendor/bootstrap.min.js"></script>
<script src="{{@UI}}js/bootstrap-datepicker.js"></script>
<script src="{{@UI}}js/typeahead.min.js"></script>
<script src="{{@UI}}js/app.js"></script>


<F3:check if="{{ isset(@ASSETS.JS) }}">
<F3:repeat group="{{ @ASSETS.JS }}" value="{{ @path }}">
<script src="{{ @path }}"></script>
</F3:repeat>
</F3:check>


</body>
</html>
