<div class="col-sm-4 col-md-3 col-lg-2">
    <div class="list-group">
        <a href="cnc/payload/create" class="list-group-item{{(@PARAMS.0 == '/cnc/payload/create'?' active':'') }}">
            <i class="glyphicon glyphicon-plus-sign"></i> New Payload
        </a>
        <a href="cnc/payload" class="list-group-item{{(@PARAMS.0 == '/cnc/payload'?' active':'') }}">
            <i class="glyphicon glyphicon-list"></i> List all
        </a>
    </div>
</div>

<div class="col-sm-8 col-md-9 col-lg-10">

    <include href="templates/alert.html"/>

    <include if="{{isset(@SUBPART)}}" href="{{'templates/'.@SUBPART}}"/>

</div>