<div class="row solid">
    <div class="col-md-12">
        <dl class="dl-horizontal w120 mthelement-element">
            <dt><i class="glyphicon glyphicon-share-alt"></i> Name</dt>
			<dd>{{ @POST.pName |esc}}</dd>
            <dt><i class="glyphicon glyphicon-tint"></i> Category</dt>
            <dd><strong>{{ @POST.pType |esc}}</strong></dd>
            <dt><i class="glyphicon glyphicon-screenshot dropdown"></i> Payload</dt>
            <dd class="wrapit"><small class="text-danger">{{ @POST.payload |esc }}</small></dd><br/>
            <dt><i class="glyphicon glyphicon-comment"></i> Description</dt>
            <dd class="text-info">{{ @POST.pDescription}}</dd>
            <dd>
                <br/>
                    <a href="{{ @BASE.'/cnc/payload' }}" class="btn btn-sm btn-primary"><i class="icon-edit icon-white"></i> Back to Payload List</a>
            </dd>
        </dl>
    </div>
</div>