<h2>Payload list</h2>

<div class="container">
	<div class="row">
<form action="/cnc/payload/search" method="GET">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" name="term" />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	</div>
	</form>
</div>

<F3:pagebrowser items="{{@content.total}}" src="templates/pagebrowser.html" limit="{{@content.limit}}" token-prefix="page-"/>
<include href="templates/alert.html"/>

<div class="solid">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
   			<th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <F3:repeat group="{{ @content.subset }}" value="{{ @item }}">
        
            <tr>
                <td> <a href="cnc/payload/view/{{@item._id}}" class="">{{ @item.pName |esc}}</a></td>
                <td>{{ @item.pType |esc}}</td>
                <td>{{ @item.pCategory |esc}}</td>
              
                <td>
                  <a href="cnc/payload/edit/{{@item._id}}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                  <a href="cnc/payload/delete/{{@item._id}}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        </F3:repeat>
        </tbody>
    </table>
</div>