<h2>Settings: General</h2>

<div class="row solid">
        <form id="form" action="cnc/settings/general" method="post" role="form">
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Framework Title</label>
                    <input type="text" name="framework_title" class="form-control" placeholder="Framework Title" value="{{isset(@POST.framework_title)?@POST.framework_title:'' |esc}}"/>
                </div>

                <div class="form-group">
                        <label>SSL Backend</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ssl_backend" value="1"/>
                                switch to SSL connection on CnC Interface
                            </label>
                        </div>
                </div>

                

                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
</div>