<check if="{{ isset(@PARAMS.id) }}">
    <true>
        <h2>Edit Zombie</h2>
    </true>
    <false>
        <h2>New Zombie</h2>
    </false>
</check>
<div class="row solid">
    <div class="col-lg-12">
        <form action="cnc/webot/{{(isset(@PARAMS.id))?'edit/'.@PARAMS.id:'create'}}" method="post" class="form-horizontal" role="form">

            <div class="form-group {{ @FLASH->getKey('error.model.webot.zName') }}">
                <label for="input-zName" class="col-lg-2 control-label">Zombie Name*</label>
                <div class="col-sm-3">
                    <input type="text" name="zName" class="form-control" id="input-zName" placeholder="unique name e.g. MyTarget Company Webserver Bot" required  value="{{isset(@POST.zName)?@POST.zName:'' |esc}}"/>
                </div>
            </div>
            
            
            <div class="form-group {{ @FLASH->getKey('error.model.webot.zLoc') }}">
                <label for="input-zLoc" class="col-lg-2 control-label">Zombie Location*</label>
                <div class="col-sm-3">
                    <input type="text" name="zLoc" class="form-control" id="input-zLoc" value="{{isset(@POST.zLoc)?@POST.zLoc:''|esc}}" />
                </div>
            </div>
            
              <div class="form-group {{ @FLASH->getKey('error.model.webot.zParam') }}">
                <label for="input-zParam" class="col-lg-2 control-label">Zombie Parameter*</label>
                <div class="col-sm-3">
                    <input type="text" name="zParam" class="form-control" id="input-zParam" value="{{isset(@POST.zParam)?@POST.zParam:''|esc}}" />
                </div>
            </div>
             
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>