<h2>Web Utilities: Shell Generator</h2>

<div class="box-body">
        <form id="shellgen" action="cnc/websaccre/shellGenerator" method="post" role="form">
                      
			<label>Shell Type</label>
			<select name="shelltype" id="shelltype" class="form-control">
			<option name="php" value="PHP">PHP</option>
            <option name="asp" value="ASP">ASP</option>
            <option name="aspx" value="ASPX">ASPX</option>
            <option name="cfm" value="CFM">CFM</option>
            <option name="jsp" value="JSP">JSP</option>
            <option name="jsp" value="JSP">JSPX</option>
            </select>


               <br/><br/> <button type="submit" class="btn btn-primary">Generate Shell</button>
            </div>

        </form>

       <div id="result" class="content col-xs-8" data-wrap="true">
       <br/>
      {{highlight_string(@content,true)|raw}}
      </div>
    </div>
     