<h2>Web Utilities: Directory Fuzzer</h2>
<style type="text/css">
	.content{
		    white-space:normal !important;
   		 word-wrap:break-word; 
	}
	p {word-wrap:break-word;}
	
</style>
<div class="box-body">
        <form id="form" action="cnc/websaccre/dirfuzz" method="post" role="form">
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Web Address</label>
                    <input type="text" name="url" class="form-control" placeholder="http://africahackon.com" />
                </div>

                               

                <button type="submit" class="btn btn-primary">Find Directories</button>
            </div>

        </form>
      
       <div class="content col-xs-8" data-wrap="true">
       <br/>
      {{highlight_string(@content,true)|raw}}
      </div>
    </div>
     