<div class="col-sm-4 col-md-3 col-lg-2">
    <div class="list-group">
        <a href="cnc/websaccre/generic_request" class="list-group-item{{(@PARAMS.0=='/cnc/websaccre/generic_request'||@PARAMS.0=='/cnc/websaccre'?' active':'') }}">
            Generic Requests
        </a>
         <a href="cnc/websaccre/shellGenerator" class="list-group-item{{(@PARAMS.0=='/cnc/websaccre/shellGenerator'||@PARAMS.0=='/cnc/websaccre/shellGenerator'?' active':'') }}">
            Shell Generator
        </a>
       
    </div>
    <div class="list-group">
        <a href="cnc/dencoder/encoder_multi" class="list-group-item{{(@PARAMS.0=='cnc/dencoder/encoder_multi'||@PARAMS.0=='/cnc/dencoder/encoder_multi'?' active':'') }}">
            Payload Encoder
        </a>
         <a href="cnc/dencoder/decoder_multi" class="list-group-item{{(@PARAMS.0=='cnc/dencoder/decoder_multi'||@PARAMS.0=='/cnc/dencoder/decoder_multi'?' active':'') }}">
            Payload Decoder
        </a>
       
    </div>

</div>

 

<div class="col-sm-8 col-md-9 col-lg-10">

    <include href="templates/alert.html"/>

    <include if="{{isset(@SUBPART)}}" href="{{'templates/'.@SUBPART}}"/>

</div>