<h2>Web Utilities: Client Side Obfuscator</h2>
<div class="alert alert-info">
    <p>
        Please Note That this works for HTML,javascript,HTML5 only. Server Side Languages Not Supported Yet. If you have server side Languages eg PHP mixed please paste the non PHP part only to avoid interpretation problems on your web page
    </p>
</div>
<script src="{{@UI}}js/cso.js"></script>
        <br/>

<div class="box-body">

    <form method="post" name="pad" align="center">

        <div class="col-sm-12">
        <textarea rows="11" name="text" cols="58" class="form-control" ></textarea>
        </div><br/>
        <div class="col-sm-12">

            <button type="button" name="compileIt" onclick="generate()" onmouseover="LightOn(this)" onmouseout="LightOut(this)" class="btn btn-primary">Obfuscate</button>
            <button type="button" name="select" onclick="selectCode()" onmouseover="LightOn(this)" onmouseout="LightOut(this)" class="btn btn-warning">Select</button>
            <button type="button" name="view" onclick="preview()" onmouseover="LightOn(this)" onmouseout="LightOut(this)" class="btn btn-success">Preview</button>
            <button type="button" name="retur" onclick="uncompile()" onmouseover="LightOn(this)" onmouseout="LightOut(this)" class="btn btn-danger">Deobfuscate</button>

    </form>

    <br/>
    <div id= "status" ></div>
    <br/><br/>
</div>
     