<h2>Web Utilities: Client Side Obfuscator</h2>
<div class="box-body">
    <h3><span class="alert alert-info">Random String Generator</span></h3>
</div>
<br/><br/>
<div class="box-body">

    <div class="content">
        <div>
            <script>
                var keylist="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789!~;'./@#$%^()[]|{}:"
                var temp=''
                function generatepass(plength){
                    temp=''
                    for (i=0;i<plength;i++)
                        temp+=keylist.charAt(Math.floor(Math.random()*keylist.length))
                    return temp
                }
                function populateform(enterlength){
                    document.pgenerate.output.value=generatepass(enterlength)
                }
            </script>
            <form name="pgenerate">
                <label for="thelength"></label><b/>String Length:</b> <input type="number" id="thelength" name="thelength" size=3 value="10" class="form-control"/><br/>
                <input type="text" size=50 name="output" class="form-control"/><br/>

                <button type="button" class="btn btn-primary"  onClick="populateform(this.form.thelength.value)"/>Generate String</button>
            </form><br />


        </div>
        <div >
            <h3 class="alert alert-success">Decimal to Bin/Hex/Octal</h3>
            <div class="acc-content">
                <div>
                    <b class="alert alert-warning">Insert Decimal Number: </b><br/><br/><input class="form-control" type = "text" name = "deci" id = "deci" size = "15" maxlength = "15" />
                    <br/><button type="button" value="Convert!" onclick="dec2bin()" class="btn btn-primary">Convert</button>
                    <br><br>
                    <div id = "error"></div>
                    <div id = "result" class="panel panel-info"></div>

                    <script type = "text/javascript">

                        function dec2bin() {
                            var x = document.getElementById("deci").value;
                            if ((/[^0-9]/g.test(x)) || x == "") {

                                document.getElementById("error").innerHTML = '<p class=\"alert alert-danger\">You must enter an integer decimal number!</p>';
                                document.getElementById("deci").value = "";
                                document.getElementById("deci").focus();

                                return false;
                            }
                            x = parseInt(x);
                            var bin = x.toString(2);
                            var hex = x.toString(16).toUpperCase();
                            var octal = x.toString(8);


                            var figs = "The binary representation of " + x + " is " +"<b>"+ bin +"</b>"+ "<br>";
                            figs = figs + "The hexadecimal representation of " + x + " is " + "<b>"+ hex +"</b>"+ "<br>";
                            figs = figs + "The octal representation of " + x + " is " + "<b>"+ octal + "</b>"+ "<br>";

                            document.getElementById("result").innerHTML = figs;
                        }
                    </script>
                    <br/><br/>
     