<h2>Cookie Theft: Attack Script Creation</h2>
<style type="text/css">
	.content{
		    white-space:normal !important;
   		 word-wrap:break-word; 
	}
	p {word-wrap:break-word;}
	
</style>
<div class="box-body">
        <form id="form" action="" method="post" role="form">
            <div class="col-sm-6">
            

                  
           <br/><label>Target URL</label>
            <input type="text" name="targetUrl" class="form-control" placeholder="http://victim.mth3l3m3nt.com/admin" />
                <div>
                <br/><br/> <button type="submit" class="btn btn-primary">Create Attack Script</button>
                </div>
        </form>
      
       <div class="content col-xs-8" data-wrap="true">
       <br/>
	   {{@content}}
      
      </div>
    </div>
     