<ul class="pagination">
	<F3:check if="{{@pg.firstPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.prefix.@pg.firstPage}}">&lt;&lt;</a></li>
    </F3:check>
	<F3:check if="{{@pg.prevPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.prefix.@pg.prevPage}}">&laquo;</a></li>
    </F3:check>
	<F3:repeat group="{{@pg.rangePages}}" value="{{@page}}">
        <li {{@page == @pg.currentPage ? 'class="active"':'' }}><a href="{{@BASE, @pg.route, @pg.prefix.@page}}">{{@page}}</a></li>
	</F3:repeat>
	<F3:check if="{{@pg.nextPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.prefix.@pg.nextPage}}">&raquo;</a></li>
    </F3:check>
	<F3:check if="{{@pg.lastPage}}">
        <li><a href="{{@BASE, @pg.route, @pg.prefix.@pg.lastPage}}">&gt;&gt;</a></li>
    </F3:check>
</ul>