
	<div class="main_search"> 
	 	<div class="container">
    		<div class="row">

                <form id="searchme" action="payload/search" method="GET">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>Custom Search</h3>
                        <div id="imaginary_container"> 
                            <div class="input-group stylish-input-group">
                                <input type="text" class="search-query form-control" placeholder="Search for something e.g. basic xss & press enter" name="term" data-toggle="tooltip" title="" data-html="true"/>
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search" data-toggle="tooltip"></span>
                                    </button>  
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>


    <div id="payloads"> 
        <div class="container">    
		    <F3:pagebrowser items="{{@content.total}}" src="templates/pagebrowser.html" limit="{{@content.limit}}" token-prefix="page-"/>
     			<div class="row centered blocks_A">
    			<F3:repeat group="{{ @content.subset }}" value="{{ @item }}">
     				<div class="col-md-4 block_A">
                        <section>
         					<i class="fa fa-terminal fa-lg"></i>
         					<h4>{{ @item.pName |esc}}</h4>
         					<p> This {{ @item.pType |esc}} payload is categorized as: {{ @item.pCategory |esc}}</p>
         					<p><br/><a href="payload/{{@item._id}}" class="btn btn-theme">More Info</a></p>
                        </section>
     				</div>
    			</F3:repeat>
 			</div>
	 	</div><!--/container -->
	 </div><!--/payloads -->
	