	<!--Chart-->
							<div class="row">
									<div class="panel-body" >
								<F3:set payloads="{{\Model\Payload::countAll()}}"/>
								<F3:set payloadsSQLi="{{\Model\Payload::countSQLi()}}"/>
								<F3:set payloadsXSS="{{\Model\Payload::countXSS()}}"/>
								<F3:set payloadsLFI="{{\Model\Payload::countLFI()}}"/>
								<F3:set payloadsMisc="{{\Model\Payload::countMisc()}}"/>
								<div id="canvas-holder" align="center">
									<canvas id="payload-chart" width="100" height="100"/>
								</div>

								<script>

									var pieData = [
										{
											value: {{ @payloadsSQLi }},
									color:"#F7464A",
											highlight: "#FF5A5E",
											label: "Injection"
									},
									{
										value: {{ @payloadsXSS }},
										color: "#46BFBD",
												highlight: "#5AD3D1",
											label: "XSS"
									},
									{
										value: {{ @payloadsLFI }},
										color: "#949FB1",
												highlight: "#A8B3C5",
											label: "File Inclusion"
									},
									{
										value: {{ @payloadsMisc }},
										color: "#4D5360",
												highlight: "#616774",
											label: "Misc"
									}

									];

									window.onload = function(){
										var ctx = document.getElementById("payload-chart").getContext("2d");
										window.myPie = new Chart(ctx).Pie(pieData);
									};


								</script>
							</div>
		</div>
					<!--chart end-->