
	 <div id="payloads"> 
	 	<div class="container">
		<div class="row">
		<h4>Search</h4>
		<div class="hline"></div><br/>
        <form id="searchme" action="payload/search" method="GET">
                   <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="search-query form-control" placeholder="Search for something e.g. basic xss & press enter" name="term" data-toggle="tooltip" title="Type the item or keyword you wish to search for then press <br> enter!" data-html="true"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning" type="button">
                                                <span class=" glyphicon glyphicon-search" data-toggle="tooltip" title="Press Enter rather than clicking me!"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>

        </form>
    </div>
		<F3:pagebrowser items="{{@content.total}}" src="templates/pagebrowser.html" limit="{{@content.limit}}" token-prefix="page-"/>
 			<div class="row centered">
			<F3:repeat group="{{ @content.subset }}" value="{{ @item }}">
 				<div class="col-md-4">
 					<i class="fa fa-terminal fa-lg"></i>
 					<h4>{{ @item.pName |esc}}</h4>
 					<p> This {{ @item.pType |esc}} payload is categorized as: {{ @item.pCategory |esc}}</p>
 					<p><br/><a href="payload/{{@item._id}}" class="btn btn-theme">More Info</a></p>
 				</div>
			</F3:repeat>
 			</div>
	 	</div><! --/container -->
	 </div><! --/payloads -->
	